<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Building Management System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link th:href="@{css/main.css}" rel="stylesheet">
</head>

<body>
	<div class="container-fluid my-2">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Building Management</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Home</a>
						<a th:href="@{/listTenants}" class="nav-link">Tenants </a>
						<a th:href="@{/listServicesProvided}" class="nav-link">Services</a>
						<a th:href="@{/listTasks}" class="nav-link">Tasks</a>
						<a th:href="@{/listIssues}" class="nav-link">Issues</a>
						<a th:href="@{/listApartments}" class="nav-link">Apartments</a>
						<a th:href="@{/listArchivedIssues}" class="nav-link">Archived Issues</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<a th:href="@{/addNewApartment}" class="btn btn-light btn-lg text-secondary w-40 mx-auto my-5 p-4"> Add New
				Apartment </a>
		</div>
	</div>
	<div class="container-fluid ">
		<div class="row d-flex justify-content-center">
			<div class="col-1 dark-grey-column"></div>
			<div class="col-10 ">
				<table border="1" class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Apartment Number</th>
							<th>Floor Number</th>
							<th>Bedroom Number</th>
							<th>Bathroom Number</th>
							<th>Rental Status</th>
							<th>Tenant First Name</th>
							<th>Tenant Last Name</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="au : ${apartmentUnitsList}">
							<td th:text="${au.apartmentUnitNumber}"></td>
							<td th:text="${au.floorNumber}"></td>
							<td th:text="${au.bedroomNumber}"></td>
							<td th:text="${au.bathroomNumber}"></td>
							<td th:text="${au.rentalStatus}"></td>
							<td th:text="${au.tenant != null} ? ${au.tenant.firstName} : 'No Tenant Info'"></td>
							<td th:text="${au.tenant != null} ? ${au.tenant.lastName} : 'Not Tenant Info'"></td>
							<td> <a th:href="@{/showFormForUpdateApartment/{id}(id=${au.apartmentId})}"
									class="btn btn-secondary">Update</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-1 dark-grey-column"></div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>